<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>harray-ios-sdk.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true />
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>harray-ios-sdkTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NotificationProcessorHandlerTest.test_it_should_construct_push_opened_event_and_make_api_call.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NotificationProcessorHandlerTest.test_it_should_not_construct_push_opened_event_and_make_api_call_when_source_is_not_defined.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NotificationProcessorHandlerTest.test_it_should_not_construct_push_opened_event_and_make_api_call_when_source_is_defined_other_than_xennio.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NotificationProcessorHandlerTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ClockUtilsTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6C7F1F2450372D001FE80C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
